<section class="hero mb-8">
  <h1 class="mb-4">
    Tagline goes here.
  </h1>

  <p>
    Good place for an intro paragraph.
  </p>

  <h2 class="mb-4">
    How it Works
  </h2>

  <ol>
    <li>Explain it #1</li>
    <li>Explain it #2</li>
    <li>Explain it #3</li>
  </ol>
</section><!-- /.hero -->

<section class="examples">
  <h3>
    Share some testimonials:
  </h3>

  <div class="flex flex-wrap -mx-4">
    <blockquote class="w-full md:w-1/3 px-4 mb-4 md:mb-0">
      <p>
        I love this app so much I wish I could marry it!
      </p>
      <footer>
        <p>
          <em>Elvis<br>
          <em>Memphis, TN</em>
        </p>
      </footer>
    </blockquote>

    <blockquote class="w-full md:w-1/3 px-4 mb-4 md:mb-0">
      <p>
        This is much better than working with Paul.
      </p>
      <footer>
        <p>
          <em>John<br>
          <em>Liverpool, UK</em>
        </p>
      </footer>
    </blockquote>

    <blockquote class="w-full md:w-1/3 px-4 mb-4 md:mb-0">
      <p>
        Better than getting a beer bottle thrown at you while you're trying to sing a new song you just wrote and are excited trying out on a real audience.
      </p>
      <footer>
        <p>
          <em>Willie<br>
          <em>Austin, TX</em>
        </p>
      </footer>
    </blockquote>
  </div><!-- /.flex -->
</section><!-- /.examples -->
